<h2>Cohort</h2>
<table>
  <tr>
    <th>Cohort Name</th>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>


    <tr>
      <td><%= @cohort.name %></td>
      <td><%= @cohort.start_date %></td>
      <td><%= @cohort.end_date %></td>
    </tr>
</table>
