<div class="profile-top-thing"> Edit Course</div>
<body class="edit-body">

  <div class="edit-container">

      <div class="edit-box">


<%= form_for(@course) do |c| %>

<label> What is the courses name?</label><br>
<%= c.text_field :name %><br>

<label>Duration of course in hours?</label><br>
<%= c.number_field :hours %><br>


<p>
  <%= c.submit "Save Changes", {class: "btn btn-danger", id: "edit-button-style" }%>
</p>

<% end %>

</div>
</div>
</body>
