<h2>All Courses</h2>
<table>
  <tr>
   <th>Course Name</th>
   <th>Course Hours</th>
  </tr>

<% @course.each do |c| %>
    <tr>
      <td><%= c.name %></td>
      <td><%= c.hours %></td>
      <td><a href="/courses/<%= c.id %>">View Course</a></td>
    </tr>
    <% end %>
</table>

<br>

<%= link_to "Go back", root_path %>
