<div class="profile-top-thing">Your selected course</div>

<br>
<table>
  <tr class="top-row-table">
  <th>Course Name</th>
  <th>Course Hours</th>


  </tr>


    <tr>
      <td><%= @course.name %></td>
      <td><%= @course.hours %></td>
    </tr>
</table>
<p class="edit-button-all">
<%= link_to edit_course_path, { class: 'btn btn-danger' } do %>
Edit Profile
<% end %>
</p>
