<h2>Your selected course:</h2>

<br>
<table>
  <tr>
  <th>Course Name</th>
  <th>Course Hours</th>


  </tr>


    <tr>
      <td><%= @course.name %></td>
      <td><%= @course.hours %></td>
    </tr>
</table>
