/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require chosen
 */

 body {
   margin: 0;
   font-family: "Poppins", sans-serif !important;
 }

 li {
   list-style: none;
 }


/* SIDE NAVBAR */
 .sidebar {
   margin: 0;
   padding: 0;
   width: 200px;
   background-color: #8eb8de;
   position: fixed;
   height: 100%;
   overflow: auto;

 }

 .sidebar a {
   display: block;
   color: black;
   padding: 16px;
   text-decoration: none;
 }

 .sidebar li#active {
   background-color: #132938;
   color: white;
 }
 div.sidebar li.example a {
  color: white;
}


 .sidebar a:hover:not(#active) {
   background-color: #D85A42;
   color: white;

 }

 div.content {
   margin-left: 200px;
   padding: 1px 16px;
   height: 1000px;
 }

 @media screen and (max-width: 700px) {
   .sidebar {
     width: 100%;
     height: auto; animation-iteration-count: infinite;
     position: relative;
   }
   .sidebar a {float: left;}
   div.content {margin-left: 0;}
 }

 @media screen and (max-width: 400px) {
   .sidebar a {
     text-align: center;
     float: none;
   }
 }

 .links {
   list-style-type: none;
 }

.logo-nav {
  border: 1px solid black;
  background-color: #34495e;
}
.logo-nav:hover {
  background-color: #D85A42;

}


 #logo-nav-text {
 font-family: "Poppins", sans-serif !important;
 font-weight: bold;
 font-size: 5em;
 text-align: center;
 color: white;
 }



/* WRAPPER */

.main-wrapper {
  margin-left: 200px;
}

/* TABLE */
table {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-row-table {
  background-color: rgb(78, 116, 143);
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: whitesmoke;
}


tbody, td, th{
  padding: 30px;
  padding-bottom: 20px;
}
tr:nth-of-type(odd):not(.top-row-table) {
  background: #e9e9e9;
}
tr {
  border: 1px solid black;
  text-align: center;
}

.edit-button-back {
}

#trashbin-animation:hover {
animation-iteration-count: infinite;
color: rgb(154, 27, 27);
}

#left-point-arrow:hover {
animation-iteration-count: infinite;
}


/* FLASH MESSAGE */
.flash_success {
  background-color: green;
  font-style: "Poppins", sans-serif !important;
  color: white;
  margin-left: 200px;
  padding-left: 35%;
}

#alert {
  background-color: #b04a4a;
  color: white;
  margin-left: 200px;
  padding-left: 41%;
  /* This will be toggled for UX to show student deletion */
  display:none;
}

/*HERO TEXT*/

.hero-text-students {
display: flex;
align-items: center;
justify-content: center;
font-family: "Poppins" sans-serif !important;
}

/*HERO TEXT*/
.back-button {
  display:flex;
}



/* LOG IN PAGE*/
.login-body {
  margin: 0;
  padding: 0;
  font-family:'Poppins', sans-serif !important;
  background: #34495e;
}
.login-container {
}

.login-box {
  width: 400px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 40px;
  background: #e74c3c;
  color: white;
  border: 1px solid rgb(255, 255, 255);
}
.submit-button {
  background-color: #ecf0f1;
  border: 0;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid whitesmoke;
  padding: 14px 40px;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  margin-top: 30px;
}

.submit-button:hover{
  // #2ecc71 is the other decent color
  background: #94a78f;
  color: white;
  width: 300px;
}


.login-box label {
  text-decoration: underline;
}


#login-tab {
  width:100%;
  background: white;
}

.login-page-header {
  font-family: 'Poppins', sans-serif !important;
  font-weight: bold;
  margin-bottom: 30px;
  border-bottom: 1px solid white;
}



/* FORM SETTINGS */
#stincohort {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  display: none;
}

.edit-button-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PROFILES */
.welcome-hero-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}

.profile-top-thing {
  position: relative;
  background-color: #978897;
  width:100%;
  height: 100px;
  text-align: center;
  color: white;
  font-size: 5em;
  vertical-align: middle;
  border-bottom: 1px solid rgb(198, 198, 198);
  border-left: 1px solid rgb(198, 198, 198);
  border-right: 1px solid rgb(198, 198, 198);
  padding-bottom: 20px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

}

.card-profile {
  left: 42%;
  top: 30%;
  position: fixed;
  float: center;
  height: 200px;
  width: 400px;
  background-color: #B18FCF;
  color: whitesmoke;
  align-items: center;
  text-align: center;
  border-radius: 25px;
}

.admin-profile-body {
  background-color: whitesmoke;
}


.admin-profile-edit {
  padding-bottom: 50px;
  background-color: #E74C3C !important;
}
.admin-profile-edit:hover {
width: 200px;

}
