<div class="sidebar">
  <a class="active" href="#">Admin Panel</a>
  <a href="#">Students</a>
  <a href="#">Instructors</a>
  <a href="#">Cohorts</a>
  <a href="#">Courses</a>
  <a class="active-two" href="#">Logout</a>
</div>
